h1, h2{
	font-family: 'Helvetica', 'Public Sans', sans-serif;
}
body{
	margin: 0;
	font-family: 'Helvetica', 'Public Sans', sans-serif;
}
body img{
	max-width: 100%;
}
header{
	background-color: green;
}
header img{
	border-radius: 300px;
    width: 80px;
    padding-bottom: 0;
}
h1{
	color: teal;
}
h2{
	color: darkcyan;
}
h3{
	color: lightseagreen;
}