head{
	font-family: 'Public Sans', sans-serif;
}
body{
	margin: 0;
}
header{
	background-color: green;
}
header img{
	border-radius: 120px;
	width: 260px;
}
main h1{
	color: teal;
}
main h2{
	color: darkcyan;
}
main h3{
	color: lightseagreen;
}