h1, h2{
	font-family: 'Helvetica', 'Public Sans', sans-serif;
}
body{
	text-align: middle;
	margin: 0;
	font-family: 'Helvetica', 'Public Sans', sans-serif;
}
header{
	background-color: green;
}
header img{
	border-radius: 300px;
    width: 80px;
    padding-bottom: 0;
}
header button{
	background-color: green;
	float: right;
  	border: 5px darkgreen;
	color: white;
  	padding: 23px 15px;
  	text-align: center;
  	display: inline-block;
  	font-size: 24px;
}
h1{
	color: teal;
}
h2{
	color: darkcyan;
}
th {
  background-color: teal;
  color: white;
}
main{
	padding-left: 15px;
	text-align: middle;
	max-width: 800px;
}
main img{
	max-width: 100%;
}
footer{
	background-color: green;
	color:white;
	text-align: right;
}